[defaults]
inventory = ansible/inventory/hosts.yml
remote_user = sapphros
private_key_file = ~/.ssh/id_ed25519_sapphros_lab
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
